body 
{
    font-family: Tahoma;
    font-size: 12px;
    color: #606060;
    margin: 0;
    padding: 0;
}

input[type=text], textarea
{
    font-size: inherit;
    font-family: inherit;
    color: inherit;    
    border: 1px solid #ccc;
    padding: 3px;
}
select
{
    font-size: inherit;
    font-family: inherit;
    color: inherit;    
}

input[type=submit]
{
    background-color: #777777;
    font-weight: bold;
    color: White;
    font-family: inherit;
    font-size: inherit;
    padding: 5px 10px;   
    border: 0px solid;
    cursor: pointer;
}
input[type=submit]:hover
{
    background-color: #9E9E9E;
}


.btn
{
    background-color: #777777;
    font-weight: bold;
    color: White;
    font-family: inherit;
    font-size: inherit;
    padding: 5px 10px;   
    border: 0px solid;
    cursor: pointer;
    height:32px;
    width:28px;
}
.btn:hover
{
    background-color: #9E9E9E;
}
.btn:disabled
{
    color:Gray;
    cursor:default;
}
.btn:disabled:hover
{
    background-color: #777777;
}



a {
	color: inherit;
}
h1
{
    background-color: #CCCCCC;
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 5px 15px;
    text-align: left;
    height: 20px;
    border: 1px solid #ccc;
}

.MainPanel
{
    margin: 0 auto;
    width: 1000px;
    display: block;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #CCCCCC;
}

.HeaderPanel
{
    background-color: #EEEEEE;
    display: block;
    height: 80px;
    margin: 0;
    padding: 0;
}
.HeaderPanel img.headerLogo
{
    float: left;
    height: 80px;
    margin: 0;
}
.HeaderPanel .menu
{
    padding-top:30px;
}
.HeaderPanel .menu ul
{
    margin: 0;
    display: block;
}
.HeaderPanel .menu ul li
{
    display: inline;
    float: left;
    font-size: 13px;
    text-transform: uppercase;   
    padding:0 5px 0 5px;
    border-right: solid 1px #CCCCCC;
}
.HeaderPanel .menu ul li.last {border:none;}

.HeaderPanel .menu ul li.link
{}
.HeaderPanel .menu ul li.link:hover
{}
.HeaderPanel .menu ul li a
{
    padding: 5px;
    color: inherit;
    text-decoration: none; 
    cursor: pointer;
    display:block;
}
.HeaderPanel .menu ul li a:hover
{
    background-color: #FEFEFE;
}
.HeaderPanel .AppName
{
    float: right;
    font-size: 2.5em;   
    margin: -10px 20px 0 0;  
}

.Footer
{
    background-color: #CCCCCC;
    color: white;
    font-size: 11px;
    margin: 0;
    padding: 5px 15px;
    text-align: center;
}

.LeftPanel
{
    background-color: #EEEEEE;
    width: 750px;
    vertical-align: top;
    min-height: 600px;
}
.RightPanel
{
    background-color: #F7F7F7;
    border-left: 1px solid #CCCCCC;
    vertical-align: top;
    width: 249px;
    min-height: 600px;
}


.SideBarPanel
{
    margin: 0;
}
.SideBarPanel select.TopSelector
{
    background: none repeat scroll 0 0 #FDFDFD;
    /*border: 1px solid #CCCCCC;*/
    margin: 0 0 0 -1px;
    padding: 5px;
    position: absolute;
    width: 251px;
    height: 30px;
}
.SideBarPanel input.TopSelector {
    background: none repeat scroll 0 0 #FDFDFD;
    /*border-width: 1px 0;*/
    height: 30px;
    margin: 0;
    padding: 0 0 0 10px;
    width: 209px;
    border:0;

}
.SideBarPanel .content
{
    padding: 5px 10px;
}
.SideBarPanel .content span
{
    line-height: 20px;
}


.ContentPanel
{
    /*padding: 15px;*/
}

.ContentPanel h2
{
    margin: 5px;
    font-size: 1.2em;
}

.ContentPanel h3
{
    margin: 5px;
    font-size: 1.1em;
}

.ContentPanel table.SendResults
{
    margin: 0 auto;    
}

.ContentPanel table.SendResults td
{
    text-align: center;    
}

.InfoPanel
{
    color: Red;
    font-weight:bold;
    text-align: center;
    padding: 10px;
}

.Table
{
    width: 100%;
    margin: 0;
    padding: 0;   
    border: 0px none;
}
.Table th
{
   background-color: #CCC;
   font-weight: normal;
   color: White;
   margin: 0;
   padding: 0;
   border: 0 none;
    padding: 5px;
}
.Table th {
    text-align: left;
}
.Table tr {
   font-weight: normal;
   margin: 0;
   padding: 0;
   border: 0 none;
   border-bottom: 1px solid #ccc;
}
.Table tr:nth-child(odd)
{
   background-color: #FFFFFF;
}
.Table tr:nth-child(even) 
{
   background-color: #FCFCFC;
}
.Table tr:hover
{
   background-color: #EEEEEE;
}
.Table tr td
{
    border: 0 none;
    padding: 5px;
}
.Table tr.win {
	background-color: #D0FFC9; border-bottom: 1px solid #ccc;
}
.Table tr.loose {
	background-color: #FFE0E0; border-bottom: 1px solid #ccc;
}
.Table tr.draw {
	background-color: #C9D2FF; border-bottom: 1px solid #ccc;
}

.AutoComplete 
{
    background: none repeat scroll 0 0 white;
    border: 1px solid #CCCCCC;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.AutoCompleteItem
{
    margin: 0;
    padding: 5px;
}
.AutoCompleteItem
{
    margin: 0;
    padding: 5px;
}
.AutoCompleteItemHighlighted
{
    margin: 0;
    padding: 5px;
    background-color: #EEEEEE;
    font-weight: bold;
}

.forkMe {
	margin: 0;
	border: 0;
	background: transparent;
	border: 0 none;
	position: fixed;
	top: 0;
	right: 0;
	height: 150px;
}
.forkMe img {
	height: 128px;
}

.lineChart #LegendText     
{
    
}
.lineChart #SeriesAxis {
	display: none;
}
.lineChart #ChartTitle 
{
    font-size: 11px;
}

.FloatingBox {
    border: 1px solid #CCCCCC;
    float: left;
    margin: 5px 0 5px 5px;
    width: 365px;
}
.FloatingBox.large{
    width:737px;
}

.FloatingBox .FloatingBoxContent {
    line-height: 20px;
    padding: 10px;
}

.bold {font-weight:bold;}
.withPadding {padding:3px;}
.ratingtd {width:135px; height:40px;}

.addNewPlayerPlayer
{
    background-color: #777777;
    font-weight: bold;
    color: White;
    font-family: inherit;
    font-size: 15px;
    padding: 10px 0 5px 0;   
    border: 0px solid;
    cursor: pointer;
    height:32px;    
    display:block;
    text-align:center;
}
.addNewPlayerPlayer:hover
{
    background-color: #9E9E9E;
}
#fields {width:300px; margin:0 auto;}
#fields div {margin:10px 0 10px 0;}
#fields div span {display:block; width:70px; float:left;padding-top:4px;}
#fields div span.validator {float:right;display:block; width:2px;}
#fields div input[type=text] {width:215px; }
#fields div select {width:224px; height:25px;}
#fields .btns {margin:15px 0 15px 0; text-align:center;}
#fields .validator {color:Red;}
.validator ul {padding:0; margin-top:0; margin-bottom:0;}
.validator li {list-style:none;}

.icon {padding:0 !important; border:0 !important;}
.icon a { display:block; height:32px; border:none; width:32px; padding:0 !important;}
.help {background: url('Assets/help_and_support.png') no-repeat center center; }
.add {background: url('Assets/add_user.png') no-repeat center center; }
.lvl {height:50px;}
.lvl img {display:block; float:left; position:relative;top: -10px; margin-right:10px;}
.left {float:left; width:40%;}
.right { float:right; width:60%; top:27px; position:relative; margin-bottom:15px;}
.center {text-align:center; padding:10px; text-align:center; display:block;}

#loader {position: absolute; text-align: center; z-index: 9999999; background-color: #000000; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5;}
#loader img {position:relative;}
.sortingHeader span {position:relative; top: -3px; margin-right:3px;}
.close {display:block; width:28px; height:28px; background: url('Assets/close.png') no-repeat center center;  position:relative; top:-30px; float:right;}
.close.disabled {display:block; width:28px; height:28px; background: url('Assets/close_disabled.png') no-repeat center center;  position:relative; top:-30px; float:right;}
.txtplace { width: 249px;background-color:#fff; border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC;}
.grantedAchievements {margin-right:42px;}
.grantedAchievements li {list-style:none; padding:5px;}
.Table.rank {font-size:11px;}
.Table.rank th {padding:3px 3px 3px 8px;}
.Table.rank tr {height:28px;}
.Table.rank tr td {padding:3px;}
.achievementsIcons {padding-bottom:2px}
.Table.rank th:last-child {width:72px;}
.Table.rank th, .Table.rank tr {text-align:center;}
.Table.rank td:nth-child(2)  {text-align:left; padding-left:20px;}
.Table.rank th:nth-child(2)  {text-align:left; padding-left:40px;}