body 
{
    font-family: Tahoma;
    font-size: 12px;
    color: #606060;
    margin: 0;
    padding: 0;
}

input[type=text], textarea
{
    font-size: inherit;
    font-family: inherit;
    color: inherit;    
    border: 1px solid #ccc;
    padding: 3px;
}
select
{
    font-size: inherit;
    font-family: inherit;
    color: inherit;    
}

input[type=submit]
{
    background-color: #777777;
    font-weight: bold;
    color: White;
    font-family: inherit;
    font-size: inherit;
    padding: 5px 10px;   
    border: 0px solid;
    cursor: pointer;
}
input[type=submit]:hover
{
    background-color: #9E9E9E;
}
a {
	color: inherit;
}
h1
{
    background-color: #CCCCCC;
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 5px 15px;
    text-align: left;
    height: 20px;
    border: 1px solid #ccc;
}

.MainPanel
{
    margin: 0 auto;
    width: 1000px;
    display: block;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #CCCCCC;
}

.HeaderPanel
{
    background-color: #EEEEEE;
    display: block;
    height: 80px;
    margin: 0;
    padding: 0;
}
.HeaderPanel img.headerLogo
{
    float: left;
    height: 80px;
    margin: 0;
}
.HeaderPanel .menu
{
    padding: 30px 0 0 80px;
}
.HeaderPanel .menu ul
{
    margin: 0;
    display: block;
}
.HeaderPanel .menu ul li
{
    display: inline;
    float: left;
    font-size: 14px;
    text-transform: uppercase;   
}
.HeaderPanel .menu ul li.separator
{
    background-color: #CCCCCC;
    height: 25px;
    margin: -3px 5px 0;
    width: 1px;
}
.HeaderPanel .menu ul li.link
{}
.HeaderPanel .menu ul li.link:hover
{}
.HeaderPanel .menu ul li a
{
    padding: 5px 10px;
    color: inherit;
    text-decoration: none; 
    cursor: pointer;
}
.HeaderPanel .menu ul li a:hover
{
    background-color: #FEFEFE;
}
.HeaderPanel .AppName
{
    float: right;
    font-size: 2.5em;
    margin: -10px 25px 0 0;  
}

.Footer
{
    background-color: #CCCCCC;
    color: white;
    font-size: 11px;
    margin: 0;
    padding: 5px 15px;
    text-align: center;
}

.LeftPanel
{
    background-color: #EEEEEE;
    width: 750px;
    vertical-align: top;
    min-height: 600px;
}
.RightPanel
{
    background-color: #F7F7F7;
    border-left: 1px solid #CCCCCC;
    vertical-align: top;
    width: 249px;
    min-height: 600px;
}


.SideBarPanel
{
    margin: 0;
}
.SideBarPanel select.TopSelector
{
    background: none repeat scroll 0 0 #FDFDFD;
    border: 1px solid #CCCCCC;
    margin: 0 0 0 -1px;
    padding: 5px;
    position: absolute;
    width: 251px;
    height: 30px;
}
.SideBarPanel input.TopSelector {
    background: none repeat scroll 0 0 #FDFDFD;
    border-width: 1px 0;
    height: 30px;
    margin: 0;
    padding: 0 10px;
    width: 229px;
}
.SideBarPanel .content
{
    padding: 5px 10px;
}
.SideBarPanel .content span
{
    line-height: 20px;
}


.ContentPanel
{
    /*padding: 15px;*/
}

.ContentPanel h2
{
    margin: 5px;
    font-size: 1.2em;
}

.ContentPanel h3
{
    margin: 5px;
    font-size: 1.1em;
}

.ContentPanel table.SendResults
{
    margin: 0 auto;    
}

.ContentPanel table.SendResults td
{
    text-align: center;    
}

.InfoPanel
{
    color: Red;
    font-weight:bold;
    text-align: center;
    padding: 5px;
}

.Table
{
    width: 100%;
    margin: 0;
    padding: 0;   
    border: 0px none;
}
.Table th
{
   background-color: #CCC;
   font-weight: normal;
   color: White;
   margin: 0;
   padding: 0;
   border: 0 none;
    padding: 5px;
}
.Table th {
    text-align: left;
}
.Table tr {
   font-weight: normal;
   margin: 0;
   padding: 0;
   border: 0 none;
   border-bottom: 1px solid #ccc;
}
.Table tr:nth-child(odd)
{
   background-color: #FFFFFF;
}
.Table tr:nth-child(even) 
{
   background-color: #FCFCFC;
}
.Table tr:hover
{
   background-color: #EEEEEE;
}
.Table tr td
{
    border: 0 none;
    padding: 5px;
}
.Table tr.win {
	background-color: #D0FFC9; border-bottom: 1px solid #ccc;
}
.Table tr.loose {
	background-color: #FFE0E0; border-bottom: 1px solid #ccc;
}
.Table tr.draw {
	background-color: #C9D2FF; border-bottom: 1px solid #ccc;
}

.AutoComplete 
{
    background: none repeat scroll 0 0 white;
    border: 1px solid #CCCCCC;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.AutoCompleteItem
{
    margin: 0;
    padding: 5px;
}
.AutoCompleteItem
{
    margin: 0;
    padding: 5px;
}
.AutoCompleteItemHighlighted
{
    margin: 0;
    padding: 5px;
    background-color: #EEEEEE;
    font-weight: bold;
}

.forkMe {
	margin: 0;
	border: 0;
	background: transparent;
	border: 0 none;
	position: fixed;
	top: 0;
	right: 0;
	height: 150px;
}
.forkMe img {
	height: 150px;
}

.lineChart #LegendText     
{
    
}
.lineChart #SeriesAxis {
	display: none;
}
.lineChart #ChartTitle 
{
    font-size: 11px;
}

.FloatingBox {
    border: 1px solid #CCCCCC;
    float: left;
    margin: 5px 0 5px 5px;
    width: 365px;
}
.FloatingBox .FloatingBoxContent {
    line-height: 20px;
    padding: 10px;
}